extends ../layout/common

block content
    h1 List books
    style.
      th,td{
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    
      }
      table{
        border-collapse: collapse;
        width: 100%;
      }
    a(href="/books/create") New Book
    table
        tr
            th Title
            th Description
            th Update
            th Delete
        each book in books
            tr
                td= book.title
                td= book.description
                td
                    a(href="/books/"+ book.id + "/update") Update
                td
                    a(href="/books/"+ book.id +"/delete")   Delete

