extends ../layout/common

block content
  h1 List Users
    style.
      th,td{
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    
      }
      table{
        border-collapse: collapse;
        width: 100%;
      }
  a(href="/users/create") New User
  table
      tr
          th Name
          th Email
          th Update
          th Delete
      each user in users
          tr
              td= user.name
              td=user.email
              td
                  a(href="/users/"+ user.id + "/update") Update
              td
                  a(href="/users/"+ user.id +"/delete")   Delete